footer {
  background-color: var(--bg-code);
  border-top: 1px solid var(--border-divider);
  font-size: var(--body-font-size-xs);
}

footer .footer {
  text-align: center;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
  color: var(--text-secondary);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
